%section.articles
  %h2.hidden 記事
  %ul.article-box
    -# データーベース実装する
    - @article.each do |article|
      = link_to "articles/#{ article.id }/#{ article.controller_name }" do
        %li.article.clearfix
          %p.article-icon
            %i.icon.fas.fa-pen-fancy
            -# ToDo = link_to userへのリンク
          .article-discription 
            %h3.article-title
              #{ article.title }
            .article-discription__data
              %p.article-user 投稿者: Takuma Kato 
              %time.article-date 投稿日: #{ article.created_at.strftime('%Y/%m/%d') }
